@page "/download"
@using Microsoft.AspNetCore.Hosting
@using BlazorApp.Data
@inject IWebHostEnvironment _env;

<h3>Download</h3>

@if (!ready)
{
	<InputFile OnChange="@ConvertFiles"/>
}
else
{
	<a href="@downloadPath" download="@name" target="_top">Descargar</a>
}

@code {
	string officeLocation = "C:\\Users\\edson\\Downloads\\LibreOfficePortable\\App\\libreoffice\\program\\soffice.exe";
	string downloadPath = "";
	string name = "";
	bool ready = false;

	private async Task ConvertFiles(InputFileChangeEventArgs eventArgs)
	{
		if (eventArgs.FileCount == 1)
		{
			Converter converter = new Converter(_env);
			downloadPath = await converter.ConvertFiles(eventArgs);
			name = downloadPath;
			ready = true;
		}
	}

}