﻿@page "/todo"
@using BlazorApp.Model

<h3>Todo (@_todos.Count(item => !item.IsDone))</h3>

<ul>
    @foreach (TodoItem item in _todos)
    {
        <li>
            <input type="checkbox" @bind="item.IsDone"/>
            <input @bind="item.Title">
        </li>
    }
</ul>

<input type="text" placeholder="Something to do" @bind="newTodo"/>
<button @onclick="AddTodo">Add</button>

@code {
    private readonly List<TodoItem> _todos = new();
    private string newTodo;

    private void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            _todos.Add(new TodoItem {Title = newTodo});
            newTodo = string.Empty;
        }
    }

}